@model Employee

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Employee</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Emp_Name"></label>
			<input asp-for="Emp_Name" class="form-control" />
			<span asp-validation-for="Emp_Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Emp_Salary"></label>
			<input asp-for="Emp_Salary" class="form-control" />
			<span asp-validation-for="Emp_Salary" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
		<a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}